.truck-button {
    --color: #fff;
    --background: #283044;
    --tick: #16bf78;
    --base: #0d0f18;
    --wheel: #2b3044;
    --wheel-linner: #646b8c;
    --whell-dot: #fff;
    --back: #6d58ff;
    --back-linner: #362a89;
    --back-linner-shadow: #2d2468;
    --front: #a6accd;
    --front-shadow: #535a79;
    --front-ligth: #fff8b1;
    --window: #2b3044;
    --window-shadow: #404660;
    --street: #646b8c;
    --street-fill: #404660;
    --box: #dcb97a;
    --box-shadow: #b89b66;
    padding: 12px 0;
    width: 172px;
    cursor: pointer;
    text-align: center;
    position: relative;

}